.reset
{
    position: absolute;
    background: #3b2c007e;
    /* border: 1px solid #000; */
    backdrop-filter: blur(25px);
    outline: none;
    width: 350px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    text-align: center;
    height: 350px; /*change to 520*/
    left: 510px;
    transition: 1s;
    /* change this section  */
    opacity: 0; /*0*/
    z-index: -1; /*-1*/
    transform: translateY(750px); /*750*/
    overflow: hidden;
}

.reset h2
{
    position: relative;
    top: 10px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.reset .input
{
    position: relative;
    top: 0px;
    margin-top: 40px;
    text-align: left;
}
.reset .input .inputBox
{
    margin-top: 10px;
    transition: 0.5s;
}
.reset .input .inputBox label
{
    display: block;
    color: rgb(255, 238, 219);
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}
.reset .input .inputBox input
{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    background:linear-gradient(315deg,#e9ba1e,#ff5f02) ;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.5s;
}
.reset .input .inputBox input[type="submit"]
{
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
    transition: 0.5s;
}
.reset .input .inputBox input[type="submit"]:hover
{
    box-shadow: 0 0 10px #520c00;
    background:linear-gradient(315deg,#ff5f02, #e9ba1e) ;
    transition: 0.5s;
    
}
.reset .input .inputBox input[type="submit"]:active
{
    color: rgba(255, 255, 255, 0.521);
    background:linear-gradient(315deg,#e91e6271,#5f02ff8c);
}
.remember
{
    position: relative;
    top: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
.remember a
{
    color: #00350b;
}
.signup_res
{
    position: relative;
    top: 20px;

    color:#ffd4a3;

}
.signup_res a
{
    color: #003d1e;
    text-decoration: none;
    font-weight: 700;
}
#error_res
{
    position: absolute;
    top: 1%;
    left: 5%;
    float: right;
    color: #ff2818;
    width: 280px;
    text-align: justify;
    z-index: 100;
    word-wrap: break-word;
    width: 90%;
    text-align: center;
}

#label_res_password,
#label_res_password_conf
{
    display: none;
}