.navigation
{
    position: absolute;
    height: 40px;
    width: 12%;
    left: 65%;
    background-color: rgba(44, 44, 44, 0.425);
    backdrop-filter: blur(25px);
    top: 15px;
    display: flex;
    z-index: 1002;
    cursor: pointer;
    font-size: 12px;
    border-radius: 15px;
    padding-left: 20px;
}
.home_nav
{
    position: relative;
    font-family: "calibri";
    font-weight: 700;
    color: rgb(0, 255, 13);
    margin-right: 25px;
    transition: 0.5s;
    top: 7px;
    font-size: 24px;

}
.songs_nav
{
    position: relative;
    font-family: "calibri";
    font-weight: 700;
    color: #fff;
    margin-right: 25px;
    transition: 0.5s;
    top: 7px;
    font-size: 24px;

}
.reso_scan
{
    position: relative;
    font-family: "calibri";
    font-weight: 700;
    color: #fff;
    margin-right: 25px;
    transition: 0.5s;
    top: 7px;
    font-size: 24px;
    opacity: 25%;
    pointer-events: none;

}
/* ==================================================SEARCH BAR======================================================================  */
.container{
    width: 46%;
    transition: 0.5s;
    left: 18%;
    position: absolute;
    top: 1%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #747474; */
    transform: translateY(-400px);
    z-index: 1001;
  }
  
  input[type=text]{
    position: relative;
    top: 0px;
    padding: 15px 40px 15px 20px;
    width: 95%;
    color: #00f020;
    /* text-transform: uppercase; */
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: #222;
    box-shadow: 0 0 5px solid #222;
    transition: width 0.4s ease;
    outline: none;
  }
    
    /* input[type=text]:focus{ width: 95%; } */

  
  i{
    position: relative;
    left: -37px;
    color: #ffffff;
  }